.botonuno{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 60px;
    background-color: black;
    color: aliceblue;
    font-family: Impact;
    font-size: 20px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.botonuno span{
    position: relative;
    z-index: 2;
    transition: .3s ease all;
}
